.profile {
  display: flex;
  margin: 90px 20px;
  z-index: 100;

  .profile__avatar {
    width: 250px;
    height: 250px;
    border-radius: 4px;
    background-color: #edeef0;
    padding: 25px 25px;
    position: relative;

    & img {
      width: 200px;
      height: 200px;
    }

    & span {
      margin-left: 50px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .avatar__loader {
      z-index: 1000;
      position: absolute;
      left: -4px;
      top: 260px;
      padding: 5px 0 5px 5px;
      border: 1px solid #909091;
      background-color: #edeef0;
      border-radius: 4px;
    }
  }

  .profile__description {
    border: 1px solid #edeef0;
    border-radius: 4px;
    padding: 0 10px;
    margin-left: 20px;
    width: 450px;
    background-color: #edeef0;

    .description__name {
      font-size: 23px;
      font-weight: 400;
    }

    .description__info {
      font-size: 15px;
      font-weight: 400;
    }
  }

  .profile__newPost {
    display: flex;
    margin: 20px 0 0 20px;
    width: 450px;
    background-color: #edeef0;
    padding: 10px;
    border-radius: 4px;
  }

  .profile__posts {
    width: 450px;
    background-color: #edeef0;
    border-radius: 4px;
    margin: 20px 0 0 20px;

    .posts__post {
      display: flex;
      padding: 10px;

      .post__avatar img {
        width: 50px;
        border-radius: 50%;
      }

      .post__post {
        margin-left: 10px;

        .post__text {
          font-size: 19px;
          font-weight: 400;
        }

        .post__likes {
          display: flex;
          align-items: center;
          font-size: 17px;
        }
      }
    }
  }
}
