.dialogs {
  display: flex;
  z-index: 100;
  margin: 90px 25px;
  background-color: #edeef0;
  border-radius: 4px;

  .dialogs__users {
    min-width: 235px;
    border-radius: 4px;
    min-height: 550px;

    .users__container {
      display: flex;
      flex-direction: column;
      padding: 10px 15px;

      &:hover {
        background-color: #f5f6f8;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #909091;
      }

      .user {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        & img {
          width: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .user__name {
          font-size: 16px;
          font-weight: 400;
        }
      }
    }
  }

  .dialogs__messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #909091;

    .messages__menu {
      height: 57px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #909091;
      padding: 0 10px;
      position: relative;

      .messages__delete {
        display: flex;
        align-items: center;
        margin-left: 410px;
      }

      .close {
        display: flex;
        align-items: center;
      }

      .menu__openMore {
        z-index: 1000;
        position: absolute;
        top: 50px;
        right: 2px;
        width: 50px;
        height: 50px;
        border: 1px solid #909091;
        background-color: #edeef0;
        border-radius: 4px;
      }
    }

    .messages__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;

      .messages {

        .message {
          margin: 30px;
        }

        .message__selected {
          margin: 20px;
          background-color: #909091;
        }
      }
    }

    .profile__newMessage {
      display: flex;
      align-items: center;
    }
  }
}
